#nprogress
  pointer-events none

  .bar
    height 3px
    width 100%
    background #000
    position fixed
    z-index 9999
    left 0
    top 0

@media (max-width 767px)
  #nprogress .bar
    height 2px